<a href="https://colab.research.google.com/github/Sathwik828/23CSBTB29/blob/main/part3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data=pd.read_excel("/content/Aiml lab2.xlsx")
print(data)

     SID Student Name  Age       course  contact No  Batch No semester
0   2001            A   19           os  7032463687        29     2--1
1   2002            B   19         Aiml  6630851291        29     2--1
2   2003            C   19           Ds  7412569857        29     2--1
3   2004            D   19          CSE  8796215371        29     2--1
4   2005            E   19          ECE  8796215372        29     2--1
5   2006            F   19        Civil  8796215373        29     2--1
6   2007            G   19          CSE  8796215374        29     2--1
7   2008            H   19           Ls  8796215375        29     2--1
8   2009            I   19   Lifeskills  8796215376        29     2--1
9   2010            J   19           CN  8796215377        29     2--1
10  2011            K   19        cloud  8796215378        29     2--1
11  2012            L   19          Mem  8796215379        29     2--1
12  2013            M   19         java  8796215380        29     2--1
13  2014            N   19            c  8796215381        29     2--1
14  2015            O   19          C++  8796215382        29     2--1
15  2016            P   19       python  8796215383        29     2--1
16  2017            Q   19         Html  8796215384        29     2--1
17  2018            R   19          DSA  8796215385        29     2--1
18  2019            S   19  java scrpit  8796215386        29     2--1
19  2020            T   19      Hacking  8796215387        29     2--1

In [4]:
import pandas as pd
data=pd.read_csv("/content/ml 1.csv")
print(data)

     SID Student Name  Age       course  contact No  Batch No semester
0   2001            A   19           os  7032463687        29     2--1
1   2002            B   19         Aiml  6630851291        29     2--1
2   2003            C   19           Ds  7412569857        29     2--1
3   2004            D   19          CSE  8796215371        29     2--1
4   2005            E   19          ECE  8796215372        29     2--1
5   2006            F   19        Civil  8796215373        29     2--1
6   2007            G   19          CSE  8796215374        29     2--1
7   2008            H   19           Ls  8796215375        29     2--1
8   2009            I   19   Lifeskills  8796215376        29     2--1
9   2010            J   19           CN  8796215377        29     2--1
10  2011            K   19        cloud  8796215378        29     2--1
11  2012            L   19          Mem  8796215379        29     2--1
12  2013            M   19         java  8796215380        29     2--1
13  2014            N   19            c  8796215381        29     2--1
14  2015            O   19          C++  8796215382        29     2--1
15  2016            P   19       python  8796215383        29     2--1
16  2017            Q   19         Html  8796215384        29     2--1
17  2018            R   19          DSA  8796215385        29     2--1
18  2019            S   19  java scrpit  8796215386        29     2--1
19  2020            T   19      Hacking  8796215387        29     2--1

In [6]:
import pandas as pd
data=pd.read_csv("/content/heart.csv")
print(data)
print(data.head())

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal  target
0         2   2     3       0
1         0   0     3       0
2         0   0     3       0
3         2   1     3       0
4         1   3     2       0
...     ...  ..   ...     ...
1020      2   0     2       1
1021      1   1     3       0
1022      1   1     2       0
1023      2   0     2       1
1024      1   1     3       0

[1025 rows x 14 columns]
   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  \
0   52    1   0       125   212    0        1      168      0      1.0      2
1   53    1   0       140   203    1        0      155      1      3.1      0
2   70    1   0       145   174    0        1      125      1      2.6      0
3   61    1   0       148   203    0        1      161      0      0.0      2
4   62    0   0       138   294    1        1      106      0      1.9      1

   ca  thal  target
0   2     3       0
1   0     3       0
2   0     3       0
3   1     3       0
4   3     2       0

In [7]:
import pandas as pd
data=pd.read_table("/content/part3.txt")
print(data)
print(data.head())

     SID Student Name  Age       course  contact No  Batch No semester
0   2001            A   19           os  7032463687        29     2--1
1   2002            B   19         Aiml  6630851291        29     2--1
2   2003            C   19           Ds  7412569857        29     2--1
3   2004            D   19          CSE  8796215371        29     2--1
4   2005            E   19          ECE  8796215372        29     2--1
5   2006            F   19        Civil  8796215373        29     2--1
6   2007            G   19          CSE  8796215374        29     2--1
7   2008            H   19           Ls  8796215375        29     2--1
8   2009            I   19   Lifeskills  8796215376        29     2--1
9   2010            J   19           CN  8796215377        29     2--1
10  2011            K   19        cloud  8796215378        29     2--1
11  2012            L   19          Mem  8796215379        29     2--1
12  2013            M   19         java  8796215380        29     2--1
13  2014            N   19            c  8796215381        29     2--1
14  2015            O   19          C++  8796215382        29     2--1
15  2016            P   19       python  8796215383        29     2--1
16  2017            Q   19         Html  8796215384        29     2--1
17  2018            R   19          DSA  8796215385        29     2--1
18  2019            S   19  java scrpit  8796215386        29     2--1
19  2020            T   19      Hacking  8796215387        29     2--1
    SID Student Name  Age course  contact No  Batch No semester
0  2001            A   19     os  7032463687        29     2--1
1  2002            B   19   Aiml  6630851291        29     2--1
2  2003            C   19     Ds  7412569857        29     2--1
3  2004            D   19    CSE  8796215371        29     2--1
4  2005            E   19    ECE  8796215372        29     2--1

In [10]:
import pandas as pd
data=pd.read_csv("/content/games1.csv")
print(data)
print(data.head())

                                    Game Name       Genre         Platform  \
0                   Sekiro: Shadows Die Twice      Sports  Nintendo Switch
1                                     Control      Puzzle  Nintendo Switch
2                                    Among Us    Strategy  Nintendo Switch
3                Call of Duty: Modern Warfare     Stealth      PlayStation
4                           League of Legends  Simulation               PC
...                                       ...         ...              ...
4995  The Legend of Zelda: Breath of the Wild      Sports               PC
4996                Assassin's Creed Valhalla     Stealth           Mobile
4997             Fall Guys: Ultimate Knockout      Sports           Mobile
4998                            Borderlands 3  Platformer             Xbox
4999         Counter-Strike: Global Offensive      Action      PlayStation

      Release Year  User Rating
0             2014     9.654719
1             2000     3.457386
2             2007     5.367622
3             2005     1.240325
4             2021     3.535476
...            ...          ...
4995          2013     6.352838
4996          2020     1.852730
4997          2021     5.268067
4998          2018     4.558510
4999          2022     3.443231

[5000 rows x 5 columns]
                      Game Name       Genre         Platform  Release Year  \
0     Sekiro: Shadows Die Twice      Sports  Nintendo Switch          2014
1                       Control      Puzzle  Nintendo Switch          2000
2                      Among Us    Strategy  Nintendo Switch          2007
3  Call of Duty: Modern Warfare     Stealth      PlayStation          2005
4             League of Legends  Simulation               PC          2021

   User Rating
0     9.654719
1     3.457386
2     5.367622
3     1.240325
4     3.535476